## Titanic  Survival
### Using Decision tree

Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import tree

Reading the Training data form the Pandas Module (read_csv) function
Note: If specifying path use 'r'(raw-string) infront of the path to avoid invalid path error
i.e FileNotFound Error

In [2]:
df1=pd.read_csv(".\train.csv")

Features of the data and a simple view of 5 entries of the data

In [3]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Now lets replace male and female to numeric values 1 and 0 respectively
Also we can use one hot encoding 
Here for simplicity , we directly assign 1 and 0 to male and female respectively

In [4]:
df1['Sex'] = df1['Sex'].replace(['male'],1)
df1['Sex'] = df1['Sex'].replace(['female'],0)
df1['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

The model is created using the Decision tree classifier from sklearn.

The target varibale is assigned as y_train which is the dependent variable and the other features pclass ,sex,age,sibsp are independent variables.

Here as a simplest version, the variables passangerId,Name,Ticket,fare,cabin, embarked are dropped which are reduntant variables by visual inspection of the data.

In [5]:
x_train=np.nan_to_num(pd.DataFrame(df1,columns=['Pclass','Sex','Age','SibSp']))
y_train=np.nan_to_num(pd.DataFrame(df1,columns=['Survived']))

model=tree.DecisionTreeClassifier()
model=model.fit(x_train,y_train)

Test data :

In [6]:
df2=pd.read_csv(".\test.csv")

In [7]:
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [8]:
df2['Sex'] = df2['Sex'].replace(['male'],1)
df2['Sex'] = df2['Sex'].replace(['female'],0)
df2['Sex']

0      1
1      0
2      1
3      1
4      0
      ..
413    1
414    0
415    1
416    1
417    1
Name: Sex, Length: 418, dtype: int64

In [9]:
x_test=np.nan_to_num(pd.DataFrame(df2,columns=['Pclass','Sex','Age','SibSp']))

The model created above is used here to predict the values for the test data

In [10]:
y_predict =model.predict(x_test)

Our model has predicted the values and stored in y_preddict variable.
Now we will check the accuracy of the model before writing into the csv file for submission

In [12]:
acc_decision_tree = round(model.score(x_train, y_train) * 100, 2)

The accuracy obtained for this simple decision tree

In [13]:
acc_decision_tree

90.57

Now the predicted value is writen (as required) in a dataFrame and writen as a 'csv'(comma seperated ) file

In [34]:
passengerId=df2['PassengerId']
final_df=pd.DataFrame(y_predict,columns=["Survived"],index=passengerId)

In [36]:
final_df.to_csv(r"C:\Users\ASHVIJAY\Desktop\Kaggle_Titanic\submission.csv")